.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  width: 50%;
}
.grid-item {
  background-color: #7FC7AF;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
  width: 55px;
  height: 55px;
}

/* .grid-item:focus {
  outline: none
} */

.horiMargin {
  margin-bottom: 2px;
}

.vertMargin {
  margin-right: 2px;
}

.selectedItem {
  background-color: #7386D5;
}
