.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  width: 50%;
}
.grid-item {
  background-color: #7FC7AF;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

/* .grid-item:focus {
  outline: none
} */

.horiBorder {
  border-bottom: 2px solid  white;
}

.vertBorder {
  border-right: 2px solid  white;
}

.selectedItem {
  background-color: #7386D5;
}
